'.source.hxml':
  'hxml -cp':
    'prefix': 'cp'
    'body': '-cp ${1:<path>}$0'
    'description': 'Adds a class path where .hx source files or packages (sub-directories) can be found.'
  'hxml -js':
    'prefix': 'js'
    'body': '-js ${1:<file>}.js$0'
    'description': 'Compile code to JavaScript file'
  'hxml -lua':
    'prefix': 'lua'
    'body': '-lua ${1:<file>}.lua$0'
    'description': 'Compile code to Lua file'
  'hxml -swf':
    'prefix': 'swf'
    'body': '-swf ${1:<file>}.swf$0'
    'description': 'Compile code to Flash SWF file'
  'hxml -as3':
    'prefix': 'as3'
    'body': '-as3 ${1:<directory>}$0'
    'description': 'Generate AS3 code into target directory'
  'hxml -neko':
    'prefix': 'neko'
    'body': '-neko ${1:<file>}.n$0'
    'description': 'Compile code to Neko Binary'
  'hxml -php':
    'prefix': 'php'
    'body': '-php ${1:<directory>}$0'
    'description': 'Generate PHP code into target directory'
  'hxml -cpp':
    'prefix': 'cpp'
    'body': '-cpp ${1:<directory>}$0'
    'description': 'Generate C++ code into target directory'
  'hxml -cppia':
    'prefix': 'cppia'
    'body': '-cppia ${1:<file>}$0'
    'description': 'Generate Cppia code into target directory'
  'hxml -cs':
    'prefix': 'cs'
    'body': '-cs ${1:<directory>}$0'
    'description': 'Generate C# code into target directory'
  'hxml -java':
    'prefix': 'java'
    'body': '-java ${1:<directory>}$0'
    'description': 'Generate Java code into target directory'
  'hxml -python':
    'prefix': 'python'
    'body': '-python ${1:<file>}.py$0'
    'description': 'Generate Python code into target directory'
  'hxml -hl':
    'prefix': 'hl'
    'body': '-hl ${1:<file>}$0'
    'description': 'Compile HL code as target file'
  'hxml -xml':
    'prefix': 'xml'
    'body': '-xml ${1:<file>}$0'
    'description': 'Generate XML types description'
  'hxml -main':
    'prefix': 'main'
    'body': '-main ${1:<class>}$0'
    'description': 'Sets the main class'
  'hxml -lib':
    'prefix': 'lib'
    'body': '-lib ${1:${2:<library>}\:${3:[version]}}$0'
    'description': 'Use a haxelib library'
    'descriptionMoreURL': 'http://lib.haxe.org/'
  'hxml -D':
    'prefix': 'D'
    'body': '-D ${1:${2:key}=${3:value}}$0'
    'description': 'Define a conditional compilation flag'
    'descriptionMoreURL': 'http://haxe.org/manual/lf-condition-compilation.html'
  'hxml -v':
    'prefix': 'v'
    'body': '-v$0'
    'description': 'Turn on verbose mode'
  'hxml -debug':
    'prefix': 'debug'
    'body': '-debug$0'
    'description': 'Add debug information to the compiled code'
  'hxml -dce':
    'prefix': 'dce'
    'body': '-dce ${1:[std|full|no]}$0'
    'description': 'Set the dead code elimination mode (default std)'
  'hxml -swf-version':
    'prefix': 'swf-version'
    'body': '-swf-version ${1:<version>}$0'
    'description': 'Change the SWF version'
  'hxml -swf-header':
    'prefix': 'swf-header'
    'body': '-swf-header ${1:width}:${2:height}:${3:fps}:${4:color}$0'
    'description': 'Define SWF header (width:height:fps:color)'
  'hxml -swf-lib':
    'prefix': 'swf-lib'
    'body': '-swf-lib ${1:<file>}$0'
    'description': 'Add the SWF library to the compiled SWF'
  'hxml -swf-lib-extern':
    'prefix': 'swf-lib-extern'
    'body': '-swf-lib-extern ${1:<file>}$0'
    'description': 'Use the SWF library for type checking'
  'hxml -java-lib':
    'prefix': 'java-lib'
    'body': '-java-lib ${1:<file>}$0'
    'description': 'add an external JAR or class directory library'
  'hxml -net-lib':
    'prefix': 'net-lib'
    'body': '-net-lib ${1:${2:<file>[}@${3:std]}}$0'
    'description': 'Add an external .NET DLL file'
  'hxml -net-std':
    'prefix': 'net-std'
    'body': '-net-std ${1:<file>}$0'
    'description': 'Add a root std .NET DLL search path'
  'hxml -c-arg':
    'prefix': 'c-arg'
    'body': '-c-arg ${1:<arg>}$0'
    'description': 'Pass option <arg> to the native Java/C# compiler'
  'hxml -x':
    'prefix': 'x'
    'body': '-x ${1:<file>}$0'
    'description': 'Shortcut for compiling and executing a neko file'
  'hxml -resource':
    'prefix': 'resource'
    'body': '-resource ${1:${2:<file>[}@${3:name]}}$0'
    'description': 'Add a named resource file'
    'descriptionMoreURL': 'https://haxe.org/manual/cr-resources.html'
  'hxml -prompt':
    'prefix': 'prompt'
    'body': '-prompt$0'
    'description': 'Prompt on error'
  'hxml -cmd':
    'prefix': 'cmd'
    'body': '-cmd ${1:<command>}$0'
    'description': 'Run the specified command after successful compilation'
  'hxml --flash-strict':
    'prefix': 'flash-strict'
    'body': '--flash-strict$0'
    'description': 'More type strict flash API'
  'hxml --no-traces':
    'prefix': 'no-traces'
    'body': '--no-traces$0'
    'description': 'Remove trace calls in the program'
  'hxml --gen-hx-classes':
    'prefix': 'gen-hx-classes'
    'body': '--gen-hx-classes$0'
    'description': 'Generate hx headers for all input classes'
  'hxml --next':
    'prefix': 'next'
    'body': '--next$0'
    'description': 'Separate several haxe compilations'
  'hxml --each':
    'prefix': 'each'
    'body': '--each$0'
    'description': 'Append preceding parameters to all haxe compilations separated by --next'
  'hxml --display':
    'prefix': 'display'
    'body': '--display$0'
    'description': 'Display code tips'
  'hxml --no-output':
    'prefix': 'no-output'
    'body': '--no-output$0'
    'description': 'Compiles but does not generate any file'
  'hxml --times':
    'prefix': 'times'
    'body': '--times$0'
    'description': 'Measure compilation times'
  'hxml --no-inline':
    'prefix': 'no-inline'
    'body': '--no-inline$0'
    'description': 'Disable inlining'
    'descriptionMoreURL': 'https://haxe.org/manual/class-field-inline.html'
  'hxml --no-opt':
    'prefix': 'no-opt'
    'body': '--no-opt$0'
    'description': 'Disable code optimizations'
  'hxml --php-front':
    'prefix': 'php-front'
    'body': '--php-front ${1:<filename>}$0'
    'description': 'Select the name for the php front file'
  'hxml --php-lib':
    'prefix': 'php-lib'
    'body': '--php-lib ${1:<filename>}$0'
    'description': 'Select the name for the php lib folder'
  'hxml --php-prefix':
    'prefix': 'php-prefix'
    'body': '--php-prefix ${1:<name>}$0'
    'description': 'Prefix all classes with given name'
  'hxml --remap':
    'prefix': 'remap'
    'body': '--remap ${1:<package}:${2:target>}$0'
    'description': 'Remap a package to another one'
  'hxml --interp':
    'prefix': 'interp'
    'body': '--interp$0'
    'description': 'Interpret the program using internal macro system'
  'hxml --macro':
    'prefix': 'macro'
    'body': '--macro ${1:name}$0'
    'description': 'Call the given macro before typing anything else'
    'descriptionMoreURL': 'https://haxe.org/manual/macro-initialization.html'
  'hxml --eval':
    'prefix': 'eval'
    'body': '--eval ${1:arg}$0'
    'description': 'Evaluates argument as Haxe module code'
  'hxml --wait':
    'prefix': 'wait'
    'body': '--wait ${2:[127.0.0.1]:}${1:6000}$0'
    'description': 'Wait on the given port for commands to run'
    'descriptionMoreURL': 'https://haxe.org/manual/cr-completion-server.html'
  'hxml --connect':
    'prefix': 'connect'
    'body': '--connect ${1:${3:[host}\:${2:]port}}$0'
    'description': 'Connect on the given port and run commands there'
    'descriptionMoreURL': 'https://haxe.org/manual/cr-completion-server.html'
  'hxml --cwd':
    'prefix': 'cwd'
    'body': '--cwd ${1:dir}$0'
    'description': 'Set current working directory'
  'hxml -version':
    'prefix': 'version'
    'body': '-version$0'
    'description': 'Print version and exit'

  'hxml -D absolute-path':
    'prefix': 'D absolute-path'
    'body': '-D absolute-path$0'
    'description': 'Print absolute file path in trace output'
  'hxml -D advanced-telemetry':
    'prefix': 'D advanced-telemetry'
    'body': '-D advanced-telemetry$0'
    'description': 'Allow the SWF to be measured with Monocle tool'
  'hxml -D analyzer':
    'prefix': 'D analyzer'
    'body': '-D analyzer$0'
    'description': 'Use static analyzer for optimization (experimental)'
  'hxml -D as3':
    'prefix': 'D as3'
    'body': '-D as3$0'
    'description': 'Defined when outputing flash9 as3 source code'
  'hxml -D check-xml-proxy':
    'prefix': 'D check-xml-proxy'
    'body': '-D check-xml-proxy$0'
    'description': 'Check the used fields of the xml proxy'
  'hxml -D core-api':
    'prefix': 'D core-api'
    'body': '-D core-api$0'
    'description': 'Defined in the core api context'
  'hxml -D core-api-serialize':
    'prefix': 'D core-api-serialize'
    'body': '-D core-api-serialize$0'
    'description': 'Mark some generated core api classes with the Serializable attribute on C#'
  'hxml -D cppia':
    'prefix': 'D cppia'
    'body': '-D cppia$0'
    'description': 'Generate experimental cpp instruction assembly'
  'hxml -D dce':
    'prefix': 'D dce'
    'body': '-D dce=${1:[std|full|no]}$0'
    'description': 'Set the dead code elimination mode (default std)'
  'hxml -D dce-debug':
    'prefix': 'D dce-debug'
    'body': '-D dce-debug$0'
    'description': 'Show dead code elimination log'
  'hxml -D debug':
    'prefix': 'D debug'
    'body': '-D debug$0'
    'description': 'Activated when compiling with -debug'
  'hxml -D display':
    'prefix': 'D display'
    'body': '-D display$0'
    'description': 'Activated during completion'
  'hxml -D dll-export':
    'prefix': 'D dll-export'
    'body': '-D dll-export$0'
    'description': 'GenCPP experimental linking'
  'hxml -D dll-import':
    'prefix': 'D dll-import'
    'body': '-D dll-import$0'
    'description': 'GenCPP experimental linking'
  'hxml -D doc-gen':
    'prefix': 'D doc-gen'
    'body': '-D doc-gen$0'
    'description': 'Do not perform any removal/change in order to correctly generate documentation'
  'hxml -D dump':
    'prefix': 'D dump'
    'body': '-D dump$0'
    'description': 'Dump the complete typed AST for internal debugging in a dump subdirectory - use dump=pretty for Haxe-like formatting'
  'hxml -D dump-dependencies':
    'prefix': 'D dump-dependencies'
    'body': '-D dump-dependencies$0'
    'description': 'Dump the classes dependencies in a dump subdirectory'
  'hxml -D dump-ignore-var-ids':
    'prefix': 'D dump-ignore-var-ids'
    'body': '-D dump-ignore-var-ids$0'
    'description': 'Remove variable IDs from non-pretty dumps (helps with diff)'
  'hxml -D erase-generics':
    'prefix': 'D erase-generics'
    'body': '-D erase-generics$0'
    'description': 'Erase generic classes on C#'
  'hxml -D fdb':
    'prefix': 'D fdb'
    'body': '-D fdb$0'
    'description': 'Enable full flash debug infos for FDB interactive debugging'
  'hxml -D file-extension':
    'prefix': 'D file-extension'
    'body': '-D file-extension$0'
    'description': 'Output filename extension for cpp source code'
  'hxml -D flash-use-stage':
    'prefix': 'D flash-use-stage'
    'body': '-D flash-use-stage$0'
    'description': 'Keep the SWF library initial stage'
  'hxml -D force-lib-check':
    'prefix': 'D force-lib-check'
    'body': '-D force-lib-check$0'
    'description': 'Force the compiler to check -net-lib and -java-lib added classes (internal)'
  'hxml -D force-native-property':
    'prefix': 'D force-native-property'
    'body': '-D force-native-property$0'
    'description': 'Tag all properties with :nativeProperty metadata for 3.1 compatibility'
  'hxml -D format-warning':
    'prefix': 'D format-warning'
    'body': '-D format-warning$0'
    'description': 'Print a warning for each formated string, for 2.x compatibility'
  'hxml -D gencommon-debug':
    'prefix': 'D gencommon-debug'
    'body': '-D gencommon-debug$0'
    'description': 'GenCommon internal'
  'hxml -D haxe-boot':
    'prefix': 'D haxe-boot'
    'body': '-D haxe-boot$0'
    'description': 'Given the name `haxe` to the flash boot class instead of a generated name'
  'hxml -D haxe-ver':
    'prefix': 'D haxe-ver'
    'body': '-D haxe-ver$0'
    'description': 'The current Haxe version value'
  'hxml -D hxcpp-api-level':
    'prefix': 'D hxcpp-api-level'
    'body': '-D hxcpp-api-level$0'
    'description': 'Provided to allow compatibility between hxcpp versions'
  'hxml -D include-prefix':
    'prefix': 'D include-prefix'
    'body': '-D include-prefix$0'
    'description': 'Prepend path to generated include files'
  'hxml -D interp':
    'prefix': 'D interp'
    'body': '-D interp$0'
    'description': 'The code is compiled to be run with --interp'
  'hxml -D java-ver':
    'prefix': 'D java-ver'
    'body': '-D java-ver=${1:[version:5-7]}$0'
    'description': 'Sets the Java version to be targeted'
  'hxml -D js-classic':
    'prefix': 'D js-classic'
    'body': '-D js-classic$0'
    'description': 'Don`t use a function wrapper and strict mode in JS output'
  'hxml -D js-es5':
    'prefix': 'D js-es5'
    'body': '-D js-es5$0'
    'description': 'Generate JS for ES5-compliant runtimes'
  'hxml -D js-unflatten':
    'prefix': 'D js-unflatten'
    'body': '-D js-unflatten$0'
    'description': 'Generate nested objects for packages and types'
  'hxml -D keep-old-output':
    'prefix': 'D keep-old-output'
    'body': '-D keep-old-output$0'
    'description': 'Keep old source files in the output directory (for C#/Java)'
  'hxml -D loop-unroll-max-cost':
    'prefix': 'D loop-unroll-max-cost'
    'body': '-D loop-unroll-max-cost$0'
    'description': 'Maximum cost (number of expressions * iterations) before loop unrolling is canceled (default 250)'
  'hxml -D macro':
    'prefix': 'D macro'
    'body': '-D macro$0'
    'description': 'Defined when code is compiled in the macro context'
  'hxml -D macro-times':
    'prefix': 'D macro-times'
    'body': '-D macro-times$0'
    'description': 'Display per-macro timing when used with --times'
  'hxml -D net-ver':
    'prefix': 'D net-ver'
    'body': '-D net-ver$0'
    'description': 'Sets the .NET version to be targeted'
  'hxml -D net-target':
    'prefix': 'D net-target'
    'body': '-D net-target=${1:<name>}$0'
    'description': 'Sets the .NET target. Defaults to net. xbox, micro (Micro Framework, compact (Compact Framework) are some valid values'
  'hxml -D neko-source':
    'prefix': 'D neko-source'
    'body': '-D neko-source$0'
    'description': 'Output neko source instead of bytecode'
  'hxml -D neko-v1':
    'prefix': 'D neko-v1'
    'body': '-D neko-v1$0'
    'description': 'Keep Neko 1.x compatibility'
  'hxml -D network-sandbox':
    'prefix': 'D network-sandbox'
    'body': '-D network-sandbox$0'
    'description': 'Use local network sandbox instead of local file access one'
  'hxml -D no-compilation':
    'prefix': 'D no-compilation'
    'body': '-D no-compilation$0'
    'description': 'Disable CPP final compilation'
  'hxml -D no-copt':
    'prefix': 'D no-copt'
    'body': '-D no-copt$0'
    'description': 'Disable completion optimization (for debug purposes)'
  'hxml -D no-debug':
    'prefix': 'D no-debug'
    'body': '-D no-debug$0'
    'description': 'Remove all debug macros from cpp output'
  'hxml -D no-deprecation-warnings':
    'prefix': 'D no-deprecation-warnings'
    'body': '-D no-deprecation-warnings$0'
    'description': 'Do not warn if fields annotated with @:deprecated are used'
  'hxml -D no-flash-override':
    'prefix': 'D no-flash-override'
    'body': '-D no-flash-override$0'
    'description': 'Change overrides on some basic classes into HX suffixed methods flash only'
  'hxml -D no-opt':
    'prefix': 'D no-opt'
    'body': '-D no-opt$0'
    'description': 'Disable optimizations'
  'hxml -D no-pattern-matching':
    'prefix': 'D no-pattern-matching'
    'body': '-D no-pattern-matching$0'
    'description': 'Disable pattern matching'
    'descriptionMoreURL': 'https://haxe.org/manual/lf-pattern-matching.html'
  'hxml -D no-inline':
    'prefix': 'D no-inline'
    'body': '-D no-inline$0'
    'description': 'Disable inlining'
  'hxml -D no-root':
    'prefix': 'D no-root'
    'body': '-D no-root$0'
    'description': 'GenCS internal'
  'hxml -D no-macro-cache':
    'prefix': 'D no-macro-cache'
    'body': '-D no-macro-cache$0'
    'description': 'Disable macro context caching'
  'hxml -D no-simplify':
    'prefix': 'D no-simplify'
    'body': '-D no-simplify$0'
    'description': 'Disable simplification filter'
  'hxml -D no-swf-compress':
    'prefix': 'D no-swf-compress'
    'body': '-D no-swf-compress$0'
    'description': 'Disable SWF output compression'
  'hxml -D no-traces':
    'prefix': 'D no-traces'
    'body': '-D no-traces$0'
    'description': 'Disable all trace calls'
  'hxml -D php-prefix':
    'prefix': 'D php-prefix'
    'body': '-D php-prefix$0'
    'description': 'Compiled with --php-prefix'
  'hxml -D real-position':
    'prefix': 'D real-position'
    'body': '-D real-position$0'
    'description': 'Disables haxe source mapping when targetting C#'
  'hxml -D replace-files':
    'prefix': 'D replace-files'
    'body': '-D replace-files$0'
    'description': 'GenCommon internal'
  'hxml -D shallow-expose':
    'prefix': 'D shallow-expose'
    'body': '-D shallow-expose$0'
    'description': 'Expose types to surrounding scope of Haxe generated closure without writing to window object'
  'hxml -D source-map-content':
    'prefix': 'D source-map-content'
    'body': '-D source-map-content$0'
    'description': 'Include the hx sources as part of the JS source map'
  'hxml -D swc':
    'prefix': 'D swc'
    'body': '-D swc$0'
    'description': 'Output a SWC instead of a SWF'
  'hxml -D swf-compress-level':
    'prefix': 'D swf-compress-level'
    'body': '-D swf-compress-level=${1:<1-9>}$0'
    'description': 'Set the amount of compression for the SWF output'
  'hxml -D swf-debug-password':
    'prefix': 'D swf-debug-password=${1:<yourPassword>}'
    'body': '-D swf-debug-password$0'
    'description': 'Set a password for debugging. The password field is encrypted by using the MD5 algorithm and prevents unauthorised debugging of your swf. Without this flag -D fdb will use no password.'
  'hxml -D swf-direct-blit':
    'prefix': 'D swf-direct-blit'
    'body': '-D swf-direct-blit$0'
    'description': 'Use hardware acceleration to blit graphics'
  'hxml -D swf-gpu':
    'prefix': 'D swf-gpu'
    'body': '-D swf-gpu$0'
    'description': 'Use GPU compositing features when drawing graphics'
  'hxml -D swf-metadata':
    'prefix': 'D swf-metadata'
    'body': '-D swf-metadata=${1:<file.xml>}$0'
    'description': 'Include contents of <file.xml> as metadata in the swf'
  'hxml -D swf-preloader-frame':
    'prefix': 'D swf-preloader-frame'
    'body': '-D swf-preloader-frame$0'
    'description': 'Insert empty first frame in swf. To be used together with -D flash-use-stage and -swf-lib'
  'hxml -D swf-protected':
    'prefix': 'D swf-protected'
    'body': '-D swf-protected$0'
    'description': 'Compile Haxe private as protected in the SWF instead of public'
  'hxml -D swf-script-timeout':
    'prefix': 'D swf-script-timeout'
    'body': '-D swf-script-timeout$0'
    'description': 'Maximum ActionScript processing time before script stuck dialog box displays (in seconds)'
  'hxml -D swf-use-doabc':
    'prefix': 'D swf-use-doabc'
    'body': '-D swf-use-doabc$0'
    'description': 'Use DoAbc swf-tag instead of DoAbcDefine'
  'hxml -D sys':
    'prefix': 'D sys'
    'body': '-D sys$0'
    'description': 'Defined for all system platforms'
  'hxml -D unsafe':
    'prefix': 'D unsafe'
    'body': '-D unsafe$0'
    'description': 'Allow unsafe code when targeting C#'
  'hxml -D use-nekoc':
    'prefix': 'D use-nekoc'
    'body': '-D use-nekoc$0'
    'description': 'Use nekoc compiler instead of internal one'
  'hxml -D use-rtti-doc':
    'prefix': 'D use-rtti-doc'
    'body': '-D use-rtti-doc$0'
    'description': 'Allows access to documentation during compilation'
  'hxml -D vcproj':
    'prefix': 'D vcproj'
    'body': '-D vcproj$0'
    'description': 'GenCPP internal'
