'.source.hxml':
  'editor':
    'commentStart': '# '
    'completions': [
      '-cpp'
      '-cppia'
      '-cp'
      '-cs'
      '-js'
      '-java'
      '-lua'
      '-hl'
      '-as3'
      '-swf-header'
      '-swf-version'
      'swf-lib'
      '-swf9'
      '-swf'
      '-neko'
      '-php'
      '-python'
      '-xml'
      '-x'
      '-main'
      '-lib'
      '-D'
      '-resource'
      '-exclude'
      '-v'
      '-debug'
      '-prompt'
      '-cmd'
      '-dce'
      '--flash-strict'
      '--no-traces'
      '--flash-use-stage'
      '--neko-source'
      '--gen-hx-classes'
      '--next'
      '--display'
      '--no-output'
      '--times'
      '--no-inline'
      '--no-opt'
      '--php-front'
      '--remap'
      '-help'
      '--help'
      '--interp'
      '--macro'
      '--dead-code-elimination'
      '--js-modern'
      '--wait'
      '--connect'
      '--cwd'
      '--each'
    ]
